<div class="formContainer import-address" data-dojo-attach-point="importAddressPanel">

	<div class="tab">
		<button class="tablinks active" data-dojo-attach-event="onclick:displayTab" title="Add the address file"
			tabtitle="file"><i class="esri-icon-layers "> </i>File</button>
		<button class="tablinks" data-dojo-attach-event="onclick:displayTab" title="Pick a symbol for address points"
			tabtitle="symbol"><i class="esri-icon-blank-map-pin" data-dojo-attach-point="iconForSymbol">
			</i>Symbol</button>
		<button class="tablinks" data-dojo-attach-event="onclick:displayTab" title="Pick the label field"
			tabtitle="label"><i class="esri-icon-tag" data-dojo-attach-point="iconForLabel">
			</i>Label</button>
		<button class="tablinks" data-dojo-attach-event="onclick:displayTab" title="Advanced Setting"
			tabtitle="advanced"><i class="esri-icon-settings2"></i>Advanced</button>
	</div>
	<div class="tabbody">
		<div tabname="file" class="tabcontent" style="display: block;">
			<div class="browse-or-drop drop-area" data-dojo-attach-point="dropArea">
				<!-- data-dojo-attach-event="ondrop:browserFile" -->
				<div class="supported-file-types" data-dojo-attach-point="supportedFileTypes">
					<img src="https://storymaps.garlandtx.gov/imageroot/gis/Images/import-address-widget/filetypes.png"
						alt="txt-and-csv">
				</div>
				<div class="or">Drop or Browse</div>
				<form>
					<label for="import-address-filepath" class="jimu-btn"
						data-dojo-attach-event="onclick:clearResultInfo" title="Add an address file"><i
							class="esri-icon-search"></i> Browse</label>
					<input type="file" id="import-address-filepath" class="file" accept=".csv,.txt" style="display:none"
						data-dojo-attach-event="onchange:browserFile,onclick:browserFile" />
				</form>
				<span data-dojo-attach-point="filePathValue">...</span>
				<a href="#" class="drop-area-help" data-dojo-attach-event="onclick:displayHelp"
					title="Click for more details.">
					<i class="esri-icon-question"></i>
				</a>
				<!-- <span class="upload-arrow"></span> -->
			</div>
		</div>
		<div tabname="symbol" class="tabcontent">
			<label class="import-address-label">Symbol Color:</label>
			<div class="import-address-colorpicker">
				<input data-dojo-attach-point="importAddrMarkerColor">
			</div>
		</div>
		<div tabname="label" class="tabcontent">
			<div class='add-label-toggle'>
				<label>
					<span class='switch import-address-label'> Turn on labels </span>
					<input type='checkbox' class='ios-switch' data-dojo-attach-point="labelFieldCheckbox"
						data-dojo-attach-event="onchange:turnOnLabel" />
					<span class='switch'></span>
				</label>
			</div>
			<div class="label_setting">
				<label class="import-address-label">Select the label field :</label>
				<select class="form-control" data-dojo-attach-point="labelFieldSelect">
				</select>

				<label class="import-address-label">Label Color :</label>
				<div class="import-address-colorpicker">
					<input data-dojo-attach-point="importAddrLabelColor">
				</div>
			</div>
		</div>
		<div tabname="advanced" class="tabcontent">

			<div>
				<label class="import-address-label">Select a locator or input your own locator :</label>
				<select class="form-control"  data-dojo-attach-event="onchange:locatorUpdate" >
					<option value="addressLocator" selected>COG Address Locator</option>
					<option value="roadLocator">COG Road Locator</option>
					<!-- <option value="userLocator">Other Locator Service</option> -->
				</select>
				<input type="text" data-dojo-attach-point="importAddrLocatorURL" class="url-textbox" disabled="true" >
			</div>
		</div>
	</div>

	<div class="mt-3">
		<button class="jimu-btn cmd-btn" data-dojo-attach-event="onclick:ImportAddress"
			title="Run process to add address points to the map"><i class="esri-icon-play"></i> Import Address</button>
		<button class="jimu-btn cmd-btn" data-dojo-attach-event="onclick:ImportAddressRemoveAll"
			title="Remove all the address layers added."><i class="esri-icon-trash"></i> Remove All</button>
	</div>

	<div class="mt-3" data-dojo-attach-point="resultInfo"></div>

</div>