	<div>
		<div class="formContainer geoFacts" data-dojo-attach-point="GeoFactsPanel">
			<div>
				<p>Instructions:</p>
				<ul>
					<li>
						<p>Select a feature from the map</p>
						<p>-- <small>If you don't see the popup window, turn on the popup window from the layer list, then go back to
							this tab to activate GeoFacts tool.</small></p>
					</li>
					<li>
						<p>Click on GeoFacts link next to Zoom to.</p>
					</li>
					<li>
						<p>Result will show on the top of the pop up window with a blue background.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>