.import-address .alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.import-address .alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.import-address .alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.import-address .browse-or-drop {
  width: 100%;
  background: #fff;
  margin: 4px auto 0;
  padding: 25px 50px 25px;
  border: 1px dashed #ccc;
  color: #898989;
  font-size: 12px;
  text-align: center;
  line-height: 1.75;
  text-transform: uppercase;
  position: relative;
  transition: opacity ease-in-out 0.15s;
}

.import-address .supported-file-types {
  margin: 15px 0 35px;
  opacity: .5;
  pointer-events: none;
  -webkit-transition: opacity ease-in-out 0.15s;
  -moz-transition: opacity ease-in-out 0.15s;
  -o-transition: opacity ease-in-out 0.15s;
  transition: opacity ease-in-out 0.15s;
}

.import-address .supported-file-types img {
  width: 100px;
  margin-left: -5px;
  position: relative;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.import-address .or {
  display: block;
  margin: 20px auto;
  font-size: 11px;
  color: #898989;
  width: 90%;
  max-width: 400px;
  line-height: 20px;
  position: relative;
}

.import-address .or:before,
.import-address .or:after {
  content: "";
  display: block;
  height: 1px;
  width: 25%;
  background: #eee;
  position: absolute;
  top: 9px;
  left: 0;
}

.import-address .or:after {
  right: 0;
  left: auto;
}

.import-address a.drop-area-help {
  text-decoration: none;
  color: #485566;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 10px;
  font-size: 22px;
  cursor: help;
}



/* Style the tab */
.import-address .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.import-address .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.3s;
  font-size: 13px;
}

/* Change background color of buttons on hover */
.import-address .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.import-address .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.import-address .tabcontent {
  display: none;
  padding: 2px 2px;
  border: 1px solid #ccc;
  border-top: none;
  height: 285px;
  overflow: scroll;
}

.import-address .import-address-label {
  display: block;
  padding: 6px 12px;
  border: none;
  outline: none;
  cursor: context-menu;
  font-size: 16px;
}

.import-address .import-address-colorpicker {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.import-address .mt-3 {
  margin-top: 15px;
}

.import-address .pointer-disable {
  pointer-events: none;
}

.import-address .cursor-disable {
  cursor: not-allowed;
}


/* checkbox -- toggle  */

.import-address .add-label-toggle input[type="checkbox"] {
  /*position: absolute;*/
  opacity: 0;
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch+span {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 999px;
  margin: 5px 12px 0px 0px;
  background: rgb(175, 175, 175);
  background-image: linear-gradient(rgba(0, 0, 0, .05), transparent), linear-gradient(90deg, #88DB81 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  /*box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset;*/
  font-size: 150%;
  /* change this and see how they adjust! */
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch:checked+span {
  padding-left: 64px;
  /*	width: 74px;*/
  background-position: 0 0;
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch+span:before {
  content: 'ON';
  float: left;
  width: 22px;
  height: 22px;
  margin: 1px;
  /*
    border: 1px solid rgba(0,0,0,.25);*/
  border-radius: inherit;
  background: white;
  /*background-image: linear-gradient(rgba(0,0,0,.1), transparent);
    box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset/*,
                0 0 .5em rgba(0,0,0,.3);*/
  /*
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);*/
  text-indent: -48px;
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch:active+span:before {
  background-color: #eee;
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch+span:before,
.import-address .add-label-toggle input[type="checkbox"].ios-switch+span:after {
  font: bold 60%/1.7 sans-serif;
}

.import-address .add-label-toggle input[type="checkbox"].ios-switch+span:after {
  content: 'OFF';
  float: left;
  text-indent: 8px;
  /*
  position: fixed;
  top: 24px;
    color: rgba(255,255,255,1);*/
  text-shadow: none;
  line-height: 1.8;
}

.switch {
  position: relative;
}

/*  checkbox -- toggle */

.import-address .label_setting {
  display: none;
}

.import-address .form-control {
  margin: 6px 12px;
  padding: 3px;
}


.import-address .locator-button {

  margin: 3px 3px 15px 3px;
  font-size: 12px;
}

.import-address .url-textbox {
  /* width:100%;
  font-size:10px;
  height: 30px;
  border: 1px solid #d2dae2;
  padding: 5px;
  margin: 0;
  border-radius: 2px; */
  display: none;
}