.add-label .padding-y3 {
  /* font-size: 75%; */
  padding-top: 6px;
  padding-bottom: 6px;
}

.add-label .dropbtn {
  width: 122px;
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
}

.add-label .dropdown {
  position: relative;
  display: inline-block;
}

.add-label .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 330px;
  overflow: auto;
  margin-left: -80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.add-label .show {
  display: block;
}