<div class="formContainer add-label" data-dojo-attach-point="addLabelPanel">

	<div>
		<p class="padding-y3">* Make sure the target layer is turned on.</p>
	</div>
	<div class="padding-y3">
		<button class="jimu-btn cmd-btn" data-dojo-attach-point="StartButton"
			data-dojo-attach-event="onclick:_ToolOn">Start</button>

		<button class="jimu-btn cmd-btn" data-dojo-attach-point="StopButton" data-dojo-attach-event="onclick:_ToolOff"
			disabled>Stop</button>
	</div>

	<div class="jimu-symbol-chooser">
		<table class="symbol-set-table">
			<colgroup>
				<col width="90px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<td>
						<span class="jimu-break-word">Layer:</span>
					</td>
					<td>
						<select data-dojo-attach-point="layerList"></select>
					</td>
				</tr>
				<tr>
					<td>
						<span class="jimu-break-word">Text:</span>
					</td>
					<td>
						<select data-dojo-attach-point="fieldList"></select>
					</td>
				</tr>
				<tr>
					<td>
						<div class="jimu-break-word">Label Color:</div>
					</td>

					<td class="dropdown">
						<button class="dropbtn" data-dojo-attach-point="colorButton" data-dojo-attach-event="onclick:showColorPicker"> </button>
						<div data-dojo-attach-point="colorPickerPanel" class="dropdown-content">
							<input data-dojo-attach-point="colorPickerNode">
						</div>
					</td>

					<!-- </tr>
				<tr>
					<td colspan="2">
						<input data-dojo-attach-point="colorPickerNode">
					</td> -->
				</tr>
				<tr>
					<td>
						<div class="jimu-break-word">Font Size:</div>
					</td>
					<td>
						<select data-dojo-attach-point="fontSizePickerNode">
							<option value="8pt">1 </option>
							<option value="10pt">2 </option>
							<option value="12pt" selected="selected">3 </option>
							<option value="16pt">4 </option>
							<option value="20pt">5 </option>
							<option value="24pt">6 </option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<div class="jimu-break-word" title="Add label within a buffer area.">Within:</div>
					</td>
					<td>
						<div data-dojo-attach-point="withinDistance">
							<input type="text" value="10" size="4">
							<select>
								<option value="px">px</option>
								<option value="feet">feet</option>
								<option value="miles">miles</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="jimu-break-word">Offset_X:</div>
					</td>
					<td>
						<input type="text" data-dojo-attach-point="Offset_X" value="0" size="2"> px;

					</td>
				</tr>
				<tr>
					<td>
						<div class="jimu-break-word">Offset_Y:</div>
					</td>
					<td>
						<input type="text" data-dojo-attach-point="Offset_Y" value="0" size="2"> px;

					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="padding-y3">
		<button type="button" class="jimu-btn" disabled data-dojo-attach-event="onclick:_UndoLabels"
			data-dojo-attach-point="UndoButton">Undo</button>
		<button type="button" class="jimu-btn" disabled data-dojo-attach-event="onclick:_RemoveLabels"
			data-dojo-attach-point="RemoveAllButton">Remove All Labels</button>
	</div>



</div>